<section class="technologies">
  <h2 class="technologies__heading">Technologies</h2>
  <ul class="technologies__list">
    <li class="technologies__item">
      <div class="technologies__logo">
        <img src="/images/flutter.svg" alt="Flutter logo">
      </div>
      <h3 class="technologies__title">Flutter</h3>
    </li>
    <li class="technologies__item">
      <div class="technologies__logo">
        <img src="/images/dart.png" alt="Dart logo">
      </div>
      <h3 class="technologies__title">Dart</h3>
    </li>
    <li class="technologies__item">
      <div class="technologies__logo">
        <img src="/images/amplify.svg" alt="AWS Ampligy logo">
      </div>
      <h3 class="technologies__title">AWS Amplify</h3>
    </li>
    <li class="technologies__item">
      <div class="technologies__logo">
        <img src="/images/javascript.svg" alt="Javascript logo">
      </div>
      <h3 class="technologies__title">Javascript</h3>
    </li>
  </ul>
</section>