---
title: "xteklab - About"
layout: "base.njk"
---

<section class="bio prose">
  <h2 class="heading--main">xteklab</h2>
  <p>xteklab creates software for everything from embedded systems to mobile apps.</p>
</section>